/*------- animaciones------ */
@keyframes float{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(30px);
    }
}


@keyframes reflejo{
    0%{
        transform: scale(0.7);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes fondo{
    0%{
        background:rgba(255, 0, 0, 0.36) ;
    }
    10%{
        background: rgba(255, 156, 0, 0.36);
    }
    20%{
        background: rgba(253, 255, 0, 0.36);
    }
    30%{
        background:rgba(115, 255, 0, 0.36) ;
    }
    40%{
        background:rgba(0, 255, 145, 0.36) ;
    }
    50%{
        background:rgba(0, 189, 255, 0.36) ;
    }
    60%{
        background:rgba(0, 62, 255, 0.36) ;
    }
    70%{
        background:rgba(66, 0, 255, 0.36) ;
    }
    80%{
        background: rgba(166, 0, 255, 0.36);
    }
    90%{
        background:rgba(255, 0, 232, 0.36) ;
    }
    100%{
        background:rgba(255, 0, 83, 0.36) ;
    }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
::-webkit-scrollbar {display: none;}

.contenedor_general{
    /* background: yellowgreen; */
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 /*    display: flex;
    justify-content: center; */
}
.cupcake_contenedor{
    background: transparent;
    width: 340px;
    height: 650px;
    display: flex;
    justify-content: center;
    animation: fondo 20s infinite;
}
.cupcake_contenedor img{
    object-fit: contain;
}
.crema_topping{
    /* background: rgba(213, 224, 64, 0.446); */
    position: absolute;
    top: 7%;
    z-index: 3;
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    animation: float 3s infinite alternate ;
}
.crema_cupcake{
    /* background: rgba(64, 224, 208, 0.446); */
    position: absolute;
    top: 7%;
    z-index: 2;
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    animation: float 3s infinite alternate ;
}


.base_cupcake{
    /* background: burlywood; */
    position: absolute;
    top: 7%;
    z-index: 1;
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    animation: float 3s infinite alternate ;
}
.reflejo {
    animation: reflection 2.5s infinite alternate;
    width:150px;
    height: 3%;
    position: absolute;
    top: 350px;
    background: linear-gradient(to bottom, rgba(54, 54, 54, 0.3),rgb(114, 114, 114));
    z-index: 0;
    filter: blur(0.5rem);
    border-radius: 50%;
    animation: reflejo 3s infinite alternate;
  }
.controles{
    background: rgba(255, 255, 255, 0.192);
    width: 100%;
    height: 250px;
    position: absolute;
    z-index: 10;
    bottom: 25px;
    overflow: hidden;/* !!!!!!!! */
}

.control img{
    width: 15%;
    margin-left: 55px;
}
.control{
    width: 300vw;
    height: 150px;
    display: flex;
    align-items: center;
}
.topping{
   /*  background: orange; */
    position: absolute; 
    z-index: 5; 
    top: 0px;
    left: 0px; 
    overflow: auto;/* !!!!!! */
    overflow-y: hidden;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}
.topping img{
    width: 120px;
    margin-top: 110px;
    margin-left: -10px;
}

.cremas{
    /* background: darkcyan; */
    position: absolute; 
    z-index: 5; 
    top: 60px;
    left: 0px; 
    overflow: auto;/* !!!!!! */
    overflow-y: hidden;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.cremas img{
    width: 100px;
    margin-top: 39px;
    margin-left: 10px;
    cursor: pointer;
}
.bases{
    /* background-color: cornflowerblue; */
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 0px; 
    overflow: auto;/* !!!!!! */
    overflow-y: hidden;
    width: 100%;
    height: 100px;
    display: flex;
}
.bases img{
    width: 100px; 
    margin-bottom:70px ;
    margin-left: 10px;
}


@media only screen and  (max-width:450px){

    .cupcake_contenedor{
        background: rgba(247, 176, 165, 0.788);
        width: 100vw;
        height: 100vh;
    }
}