/*------- animaciones------ */
@keyframes float{
    0%{
        transform: translateY(0px);
    }
    100%{
        transform: translateY(30px);
    }
}


@keyframes reflejo{
    0%{
        transform: scale(0.8);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes fondo{
    0%{
        background:rgb(250, 128, 128) ;
    }
    10%{
        background: rgb(252, 203, 124);
    }
    20%{
        background: rgb(252, 252, 127);
    }
    30%{
        background:rgb(183, 253, 126) ;
    }
    40%{
        background:rgb(125, 253, 197) ;
    }
    50%{
        background:rgb(124, 218, 252) ;
    }
    60%{
        background:rgb(123, 155, 250) ;
    }
    70%{
        background:rgb(154, 118, 253) ;
    }
    80%{
        background: rgb(204, 120, 250);
    }
    90%{
        background:rgb(252, 120, 241) ;
    }
    100%{
        background:rgb(252, 120, 164) ;
    }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}
::-webkit-scrollbar {display: none;}

.contenedor_general{
    /* background: yellowgreen; */
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 /*    display: flex;
    justify-content: center; */
}
.cupcake_contenedor{
    background: transparent;
    width: 340px;
    height: 750px;
    display: flex;
    justify-content: center;
    animation: fondo 20s infinite;
}
.cupcake_contenedor img{
    object-fit: contain;
}
.contenedor_mordiscos{
    position: absolute;
    top: 7%;
   /*!!!!!!!!!!!!!!!!!!!!!! */
    width: 200px;
    height: 300px;
    animation: float 3s infinite alternate ;
   
}
.mordisco{ 
    width: 180px;
    height: 220px;
    position: absolute;  
}
.primer_mordisco{
    /* background: red; */
    border-radius: 0 0 70% 0;
    height: 220px;
    left: 50px;
    z-index:20 ;
    opacity: 0;
    animation:fondo 20s infinite,float 3s infinite alternate ;
}
.segundo_mordisco{
    /* background: crimson; */
    top: 50px;
    right: 70px;
    z-index:20 ;
    opacity: 0;
    border-radius: 30% 0  0 80% ;
    animation:fondo 20s infinite,float 3s infinite alternate ;
}
.tercer_mordisco{
    left: 70px ;
    top: 130px;
    height: 270px;
    z-index:20 ;
    width: 150px;
    opacity: 0;
    border-radius: 0 75% 0 0;
    animation:fondo 20s infinite,float 3s infinite alternate ;
}
.cuarto_mordisco{
    top: 170px;
    width: 180px;
    right: 40px ;
    z-index:20 ;
    opacity: 0;
    border-radius: 0 45% 60% 0; 
    animation:fondo 20s infinite,float 3s infinite alternate ;
   
}
.quinto_mordisco{
    top: 100px;
    height: 300px;
    z-index: 20;
    opacity: 0;
    width: 200px; 
    animation:fondo 20s infinite ;
}
.quinto_mordisco img{
    width: 100%;
    display: none;
}


.crema_topping{
    /* background: rgba(213, 224, 64, 0.446); */
    position: absolute;
    top: 7%;
    z-index: 3;
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    animation: float 3s infinite alternate ;
}
.crema_cupcake{
   /*  background: rgba(64, 224, 208, 0.446); */
    position: absolute;
    top: 7%;
    z-index: 2;
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    animation: float 3s infinite alternate ;
}


.base_cupcake{
    /* background: burlywood; */
    position: absolute;
    top: 7%;
    z-index: 1;
    width: 200px;
    height: 300px;
    display: flex;
    justify-content: center;
    animation: float 3s infinite alternate ;
}
.reflejo {
    animation: reflection 2.5s infinite alternate;
    width:150px;
    height: 3%;
    position: absolute;
    top: 350px;
    background: linear-gradient(to bottom, rgba(54, 54, 54, 0.3),rgb(114, 114, 114));
    z-index: 0;
    filter: blur(0.5rem);
    border-radius: 50%;
    animation: reflejo 3s infinite alternate;
  }
.controles{
    background: rgba(255, 255, 255, 0.192);
    width: 100%;
    height: 250px;
    position: absolute;
    z-index: 10;
    bottom: 40px;
    overflow: hidden;/* !!!!!!!! */
}

.control img{
    width: 15%;
    margin-left: 55px;
}
.control{
    width: 300vw;
    height: 150px;
    display: flex;
    align-items: center;
}
.topping{
   /*  background: orange; */
    position: absolute; 
    z-index: 5; 
    top: 0px;
    left: 0px; 
    overflow: auto;/* !!!!!! */
    overflow-y: hidden;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}
.topping img{
    width: 120px;
    margin-top: 110px;
    margin-left: -10px;
}

.cremas{
    /* background: darkcyan; */
    position: absolute; 
    z-index: 5; 
    top: 60px;
    left: 0px; 
    overflow: auto;/* !!!!!! */
    overflow-y: hidden;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.cremas img{
    width: 100px;
    margin-top: 39px;
    margin-left: 10px;
    cursor: pointer;
}
.bases{
    /* background-color: cornflowerblue; */
    position: absolute;
    z-index: 4;
    bottom: 0;
    left: 0px; 
    overflow: auto;/* !!!!!! */
    overflow-y: hidden;
    width: 100%;
    height: 100px;
    display: flex;
}
.bases img{
    width: 100px; 
    margin-bottom:70px ;
    margin-left: 10px;
}

.comer{
    background: white;
    height: 300px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(200%); 
    transition: transform .4s ease-in;
    
}
.show{
    transform: translateY(0);
    
}
.btn_x{
    width: 50px;
    height: 50px;
    text-align: center;
    margin: auto;
    position: absolute;
    top: 10px;
    right: 0;
    cursor: pointer;
}
.btn_comer{
    width: 100px;
    height: 100px;
    background: grey;
    cursor: pointer;
    border-radius: 50%;
}

.btn{
    background: rgb(255, 255, 255);
    width: 150px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 10;
    bottom: 0px;
    left: 30%;
    cursor: pointer;
}


@media only screen and  (max-width:450px){

    .cupcake_contenedor{
        /* background: rgba(247, 176, 165, 0.788); */
        width: 100vw;
        height: 100vh;
    }
}